{{!-- views/contact.hbs --}}
{{! Page-specific CSS --}}
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/contact.css" />
<link rel="stylesheet" href="https://unpkg.com/ionicons@5.5.2/dist/css/ionicons.min.css">
<div class="sidebar">
        <div class="logo-container text-center py-3">
            <h2 class="logo">Xpenso</h2>
        </div>
        <div class="text-center my-3">
            <img src="https://cdn-icons-png.flaticon.com/512/4140/4140037.png" alt="Avatar" class="avatar-img mb-2">
            <h5 class="user-name" id="userName" style="color: white;">User Name</h5>
        </div>
        <ul class="nav-menu px-3">
            <li class="nav-item">
                <a href="/dashboard"><i class="fas fa-th-large"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="fas fa-wallet"></i> Income</a>
            </li>
            <li class="nav-item">
                <a href="/expense"><i class="fas fa-money-check-alt"></i> Expense</a>
            </li>
            <li class="nav-item active">
                <a href="/contact"><i class="fas fa-headset"></i> Support</a>
            </li>
        </ul>
        <div class="logout-container mt-auto px-3">
            <button id="logoutBtn" class="btn btn-link logout-btn text-start">
                <a><i class="fas fa-sign-out-alt"></i> Logout</a>
            </button>
        </div>
    </div>

<div class="container">
    <div class="left">
        <h3 class="heading">Get In Touch</h3>
        <p class="text">We are here for you! How can we help?</p>
        <form id="contactForm" novalidate>
            <div class="inputBox">
                <input type="text" id="name" name="name" class="name" placeholder="Enter your name" required />
            </div>
            <div class="inputBox">
                <input type="text" id="email" name="email" class="email" placeholder="Enter your email address" required />
            </div>
            <div class="inputBox">
                <input type="text" id="contactDetails" name="contactDetails" class="contactDetails" placeholder="Enter your contact details" required />
            </div>
            <div class="inputBox">
                <textarea name="message" id="message" class="message" placeholder="Enter your message..." required></textarea>
            </div>
            <button class="submit-btn" type="submit">Submit</button>
        </form>
    </div>

    <div class="right">
        <div class="toggle-wrapper">
            <button id="toggle-mode" class="toggle-btn" title="Toggle Theme">
                <ion-icon name="moon"></ion-icon>
            </button>
        </div>
        <div class="illustration">
            <img id="illustration-img" src="https://media.istockphoto.com/id/1241789584/vector/customer-service-online-assistant-or-call-center-concept-woman-operator-with-headset.jpg?s=612x612&w=0&k=20&c=KeJInv0bQHil6JpXazAmhYKB-5HYfDpxvrsZxl2AMt8=" alt="Illustration showing communication" />
        </div>
        <div class="contact-info">
            <div class="infoBox">
                <div class="icon">
                    <ion-icon name="location"></ion-icon>
                </div>
                <div class="text">
                    <a>123 Street, New York, USA</a>
                </div>
            </div>
            <div class="infoBox">
                <div class="icon">
                    <ion-icon name="call"></ion-icon>
                </div>
                <div class="text">
                    <a href="tel:+123456789">+123-456-789</a>
                </div>
            </div>
            <div class="infoBox">
                <div class="icon">
                    <ion-icon name="mail"></ion-icon>
                </div>
                <div class="text">
                    <a href="mailto:example@mail.com">example@mail.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="social-icons">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
    </div>
</div>

{{! Page-specific JS --}}
<script src="/js/contact.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
