<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact Us!</title>
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="https://unpkg.com/ionicons@5.5.2/dist/css/ionicons.min.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <h3 class="heading">Get In Touch</h3>
            <p class="text">We are here for you! How can we help?</p>
            <form novalidate>
                <div class="inputBox">
                    <input type="text" name="name" class="name" placeholder="Enter your name" required />
                </div>
                <div class="inputBox">
                    <input type="text" name="email" class="email" placeholder="Enter your email address" required />
                </div>
                <div class="inputBox">
                    <textarea name="message" class="message" placeholder="Enter your message..." required></textarea>
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>

        <div class="right">
            <div class="toggle-wrapper">
                <button id="toggle-mode" class="toggle-btn" title="Toggle Theme">
                    <ion-icon name="moon"></ion-icon>
                </button>
            </div>
            <div class="illustration">
                <img src="https://media.istockphoto.com/id/1241789584/vector/customer-service-online-assistant-or-call-center-concept-woman-operator-with-headset.jpg?s=612x612&w=0&k=20&c=KeJInv0bQHil6JpXazAmhYKB-5HYfDpxvrsZxl2AMt8=" alt="Illustration showing communication" />
            </div>
            <div class="contact-info">
                <div class="infoBox">
                    <div class="icon">
                        <ion-icon name="location"></ion-icon>
                    </div>
                    <div class="text">
                        <p>123 Street, New York, USA</p>
                    </div>
                </div>
                <div class="infoBox">
                    <div class="icon">
                        <ion-icon name="call"></ion-icon>
                    </div>
                    <div class="text">
                        <a href="tel:+123456789">+123-456-789</a>
                    </div>
                </div>
                <div class="infoBox">
                    <div class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </div>
                    <div class="text">
                        <a href="mailto:example@mail.com">example@mail.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-icons">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
        </div>
    </div>

    <script src="/css/contact.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
