{{!-- views/contact.hbs --}}
{{! Page-specific CSS --}}
<div class="theme-toggle-container">
    <button id="themeToggle" class="theme-toggle">
        <i class="fas fa-sun"></i>
    </button>
</div>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/contact.css" />
<link rel="stylesheet" href="https://unpkg.com/ionicons@5.5.2/dist/css/ionicons.min.css">
<div class="sidebar">
        <div class="logo-container text-center py-3">
            <h2 class="logo">Xpenso</h2>
        </div>
        <div class="text-center my-3">
            <img src="https://cdn-icons-png.flaticon.com/512/4140/4140037.png" alt="Avatar" class="avatar-img mb-2">
            <h5 class="user-name" id="userName">User Name</h5>
        </div>
        <ul class="nav-menu px-3">
            <li class="nav-item">
                <a href="/dashboard"><i class="fas fa-th-large"></i> Dashboard</a>
            </li>
            <li class="nav-item active">
                <a href="/contact"><i class="fas fa-headset"></i> Support</a>
            </li>
            <li class="nav-item">
                <a href="/Faq"><i class="fa-solid fa-question"></i> Faq's</a>
            </li>
            <li class="nav-item">
                <a href="/privacy"><i class="fa-solid fa-building-shield"></i> Privacy Policy</a>
            </li>
        </ul>
        <div class="logout-container mt-auto px-3">
            <button id="logoutBtn" class="btn btn-link logout-btn text-start">
                <a><i class="fas fa-sign-out-alt"></i> Logout</a>
            </button>
        </div>
    </div>

<div class="container">
    <div class="left">
        <h3 class="heading">Get In Touch</h3>
        <p class="text">We are here for you! How can we help?</p>
        <form id="contactForm" novalidate>
            <div class="inputBox">
                <input type="text" id="name" name="name" class="name" placeholder="Enter your name" required />
            </div>
            <div class="inputBox">
                <input type="text" id="email" name="email" class="email" placeholder="Enter your email address" required />
            </div>
            <div class="inputBox">
                <input type="text" id="contactDetails" name="contactDetails" class="contactDetails" placeholder="Enter your contact details" required />
            </div>
            <div class="inputBox">
                <textarea name="message" id="message" class="message" placeholder="Enter your message..." required></textarea>
            </div>
            <button class="submit-btn" type="submit">Submit</button>
        </form>
    </div>

    <div class="right">
        
        <div class="illustration">
            <img id="illustration-img" src="https://img.freepik.com/premium-vector/lady-call-center-illustration-with-headphones-computer-speech-balloon-showing-message-woman-using-laptop-earphones-with-conversation-bubble-presenting-explanation_424947-8749.jpg" alt="Illustration showing communication" />
        </div>
        <div class="contact-info">
            <div class="infoBox">
                <div class="icon">
                    <ion-icon name="location"></ion-icon>
                </div>
                <div class="text">
                    <a>Chitkara University</a>
                </div>
            </div>
            <div class="infoBox">
                <div class="icon">
                    <ion-icon name="call"></ion-icon>
                </div>
                <div class="text">
                    <a href="tel:8054969067">8054969067</a>
                </div>
            </div>
            <div class="infoBox">
                <div class="icon">
                    <ion-icon name="mail"></ion-icon>
                </div>
                <div class="text">
                    <a href="mailto:ronak1114.be23@chitkara.edu.in">ronak1114.be23@chitkara.edu.in</a>
                </div>
            </div>
        </div>
    </div>

    <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100068643819655"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://x.com/xpensoapp"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
    </div>
</div>

{{! Page-specific JS --}}
<script src="/js/contact.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
